* {
  border: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body,
html {
  font-size: 62.5%;
  height: 108rem;
  background-image: url(../images/kendal-hnysCJrPpkc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: row-reverse;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
  max-width: 60rem;
}

.neon {
  border: solid #fab5d7 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem 0.5rem rgba(193, 24, 103, 0.85),
    inset 0 0 1rem 0.2rem #c11867;
}

.breathe {
  font-family: 'Neonderthaw', cursive;
  font-size: 9rem;
  color: #fab5d7;
  text-shadow: 0 0 1rem #fff, 0 0 1rem #fff, 0 0 2rem #fff,
    0 0 4rem rgb(242, 171, 214), 0 0 8rem #f09, 0 0 9rem rgb(240, 61, 168),
    0 0 10rem #f09, 0 0 15rem #f09;
  animation: pulsate 0.5s ease-in-out infinite alternate;
}

h1,
h2,
h3,
h4,
p {
  color: #e9c4e0;
  text-transform: capitalize;
}

h2 {
  font-family: 'Fasthand', cursive;
  font-size: 5rem;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  white-space: pre-line;
}

/* -------------Widget--------------*/
.widget-grid {
  margin: 3rem;
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-4 {
  grid-column: span 4;
  overflow: hidden;
}

.widget {
  min-width: 10rem;
  background-color: #000000;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.board-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.board {
  min-height: 20rem;
  background-color: #310c2d;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
}

.widget-circle {
  background-color: #f09;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-icon {
  height: 3.5rem;
  border-radius: 50%;
}

.add-btn {
  width: 4rem;
  /* center plus in button */
  padding-bottom: 3px;
  border-radius: 50% 0 0 50%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.add-btn-info,
.add-btn {
  color: #e9c4e0;
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #c11867;
}

.add-btn-info {
  right: -15rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border-radius: 25px 0 0 25px;
  transition: .5s;
}

.grid-col-span-4:hover .add-btn-info {
  transition: .5s;
  right: 0;
}


.widget-data {
  font-size: 3.5rem;
  margin: 0;
}

.weekly-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
}

/* -------------Modal--------------*/

.sleep-modal {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  height: 50vh;
  width: 50rem;
  padding: 2rem;
  
  color: #e9c4e0;
  background-color: #431a3f;
  border: solid #fab5d7 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem 0.2rem rgba(193, 24, 103, 0.85),
  inset 0 0 0px 0px #c11867;
  z-index: 1;
  
  display: flex;
  justify-content: center;
}

.modal-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header h2 {
  margin: 0 auto;
}

.sleep-modal .exit-modal {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  
  font-size: 2rem;
  color: #e9c4e0;
  background-color: #310c2d;
  
  margin-right: 1rem;
  margin-bottom: 5rem;
  
  cursor: pointer;
}

.sleep-modal .exit-modal:hover {
  background-color: #7f1c75;
}

.modal-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form-container form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-form-container form ul {
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 8;
  padding-inline-start: 0;
}

.modal-form-container form ul > li {
  height: 40px;
  width: 100%;
  padding: 0.3rem 1rem;
  font-size: 2rem;
  list-style: none;
  background-color: #310c2d;
  border-radius: 0.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label[for="sleep-quality"] span {
  font-size: 1.3rem;
}

input {
  height: 2.5rem;
  width: 10rem;
}

input:invalid {
  border: solid grey 0.3rem;
  border-radius: 0.8rem;
}

input:valid {
  border-color: #fab5d7;
  border-radius: 8px;
  box-shadow: 0 0 9px 2px rgba(193, 24, 103, 0.85), inset 0 0 0px 0px #c11867;
}

.modal-button-container {
  height: 20%;
  width: 100%;
  text-align: center;
  flex: 2;
}

.modal-button-container button {
  height: 4rem;
  width: 75%;
  font-size: 2rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.modal-button-container button:hover {
  background-color: #e9c4e0;
}

/* -------------User--------------*/

.user-box {
  height: 76%;
  margin-top: 0;
  background-color: #310c2d;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  padding: 3rem;
}

/* -------------Map--------------*/

.map {
  height: 15rem;
  width: 29.5rem;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 0;
}

/* -------------Util--------------*/

.visible {
  visibility: visible;
}

/* ------------Animations------------ */

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
